<ion-view title="Low Rider" id="page4">
  <ion-content padding="true" class="has-header">
    <p>
      <b>32</b> songs
      <br>
      <b>63.45 </b> mins
      <br>



    </p>
    <button id="lowRider-button1" class="button button-positive  button-block">Export Playlist to File</button>
    <ion-list id="lowRider-list4">
      <ion-item id="lowRider-list-item22">Lowrider</ion-item>
      <ion-item id="lowRider-list-item23">Misirlo</ion-item>
      <ion-item id="lowRider-list-item24">Pipeline</ion-item>
    </ion-list>
  </ion-content>
</ion-view>